@import "vars";
@mixin font-generator($name,$font-name){
	$font-path:'/fonts/';
  @font-face {
    font-family: $name;
    src:
    local($font-name),
    url($font-path + $font-name + '.woff') format('woff'),
    url($font-path + $font-name + '.eot') format('eot'),
    url($font-path + $font-name + '.ttf') format('ttf'),
    url($font-path + $font-name + '.svg') format('svg');
  }
}
@include font-generator('myriad normal','myriad-set-pro_text');
@include font-generator('myriad semibold','myriad-set-pro_semibold');
@include font-generator('myriad thin','myriad-set-pro_thin');
@include font-generator('myriad extrathin','myriad-set-pro_extrathin');


@include font-generator('tubiao text','appleicons_text');
@include font-generator('tubiao thin','appleicons_thin');
